html body {
  background: #FFF;
  width: 100%;
}
.mob_head {
  width: 100%;
  background: #25292e;
}
.top {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 55px;
  right: 35px;
  z-index: 1000;
  cursor: pointer;
}
.top span {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icon.png") no-repeat -20px -813px;
}
.qrcode {
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 1000;
}
.qrcode .close {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 25px;
  height: 25px;
}
.topNav {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modalBox {
  background: url("../img/index/log_bg.jpg");
  width: 568px;
  height: 242px;
  padding: 45px;
  position: absolute;
  left: 50%;
  color: #FFFFFF;
  transform: translateX(-50%);
  margin: 15% auto;
}
.modal .modalBox div.moTop {
  width: 100%;
  padding-bottom: 30px;
}
.modal .modalBox div.moTop .modalClose {
  display: inline-block;
  position: absolute;
  top: 45px;
  right: 45px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url("../img/icon.png") no-repeat 0 -469px;
}
.modal .modalBox div.moTop h3 {
  font-size: 16px;
  font-weight: normal;
}
.modal .modalBox div.modalLeft {
  padding-bottom: 40px;
  width: 264px;
}
.modal .modalBox div.modalLeft div.modalLogin {
  font-size: 12px;
}
.modal .modalBox div.modalLeft div.modalLogin input {
  width: 244px;
  height: 20px;
  padding: 10px;
  outline: none;
  border: none;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}
.modal .modalBox div.modalLeft div.modalLogin div {
  height: 17px;
  line-height: 17px;
}
.modal .modalBox div.modalLeft div.modalLogin div .check {
  margin: 3px 0 10px 0;
  width: 13px;
  height: 13px;
}
.modal .modalBox div.modalLeft div.modalLogin div span {
  margin: 3px 0 10px 0;
  font-size: 12px;
  display: inline-block;
  height: 13px;
  line-height: 13px;
  padding: 0 0 10px 10px;
}
.modal .modalBox div.modalLeft div.modalLogin div span:last-child {
  float: right;
}
.modal .modalBox div.modalLeft .submitBtn {
  width: 100%;
  position: relative;
}
.modal .modalBox div.modalLeft .submitBtn button {
  width: 156px;
  height: 40px;
  margin-top: 20px;
  border: none;
  outline: none;
  background: #000;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 40px;
}
.modal .modalBox div.modalLeft .submitBtn a {
  position: absolute;
  top: 30px;
  right: 0;
  color: #FFFFFF;
  text-decoration: underline;
}
.modal .modalBox div.modalRight {
  width: 264px;
  position: relative;
  font-size: 14px;
}
.modal .modalBox div.modalRight p {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 10px;
}
.modal .modalBox div.modalRight .thirdParty {
  width: 100%;
  margin-top: 40px;
  height: 22px;
  display: flex;
}
.modal .modalBox div.modalRight .thirdParty a {
  display: block;
  width: 23px;
  height: 21px;
  margin-right: 21px;
  opacity: 0.8;
}
.modal .modalBox div.modalRight .thirdParty .qqwb {
  background: url("../img/icon.png") no-repeat -30px -469px;
}
.modal .modalBox div.modalRight .thirdParty .qq {
  background: url("../img/icon.png") no-repeat -58px -469px;
}
.modal .modalBox div.modalRight .thirdParty .wb {
  background: url("../img/icon.png") no-repeat -88px -469px;
}
.modal .modalBox div.modalRight .thirdParty .db {
  background: url("../img/icon.png") no-repeat -121px -469px;
}
.mob_head-inner {
  max-width: 1000px;
  height: 56px;
  margin: 0 auto;
  position: relative;
}
.mob_head-inner .logo {
  width: 95px;
  height: 100%;
  background: url("../img/icon.png") no-repeat 0 10px;
}
.mob_head-inner ul {
  position: absolute;
  top: 0;
  right: 0;
}
.mob_head-inner ul li {
  font-size: 12px;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  float: left;
}
.mob_head-inner ul li a {
  color: #ccc;
}
.mob_head-inner ul li a:hover {
  color: #CCC;
}
.mob_head-inner ul .line {
  padding: 0;
  width: 1px;
  background: #666;
  height: 10px;
  margin-top: 23px;
}
.mob_head-inner ul .logAnReg a {
  color: #FFF;
}
.mob_head-inner ul .logAnReg a:first-child {
  margin-right: 10px;
}
.mob_head-inner ul .liCart .liCartCont {
  z-index: 1000;
  width: 280px;
  height: 120px;
  position: absolute;
  top: 55px;
  right: 40px;
}
.mob_head-inner ul .liCart .liCartCont .cart {
  text-align: center;
  line-height: 70px;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background: #292F34;
  color: #FFF;
}
.mob_head-inner ul .liCart .liCartCont .qiangou {
  width: 280px;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #7dbfde;
}
.mob_head-inner ul .liCart .liCartCont .qiangou a {
  color: #FFF;
}
.mob_head-inner ul .liMessage .messageCont {
  z-index: 1000;
  position: absolute;
  width: 160px;
  padding: 0 15px;
  top: 55px;
  right: 0;
  background: #292F34;
}
.mob_head-inner ul .liMessage .messageCont div {
  font-size: 12px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #6f6f6f;
}
.mob_head-inner ul .liMessage .messageCont div a {
  display: inline-block;
  color: #CCC;
}
.mob_head-inner ul .liMessage .messageCont div span {
  display: block;
  float: right;
  color: #CCC;
}
.mob_head-inner ul .liMessage .messageCont div:last-child {
  border-bottom: none;
}
.mob_head-inner ul .navHover {
  background: #292F34;
}
.nav-bar {
  width: 100%;
  height: 50px;
  background: #FFF;
}
.nav-bar-inner {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  border-bottom: 4px solid #EDEDED;
}
.nav-bar-inner ul {
  width: 100%;
  height: 50px;
}
.nav-bar-inner ul li {
  width: 160px;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
}
.nav-bar-inner ul li:first-child {
  width: 120px;
  text-align: left;
}
.nav-bar-inner ul li:last-child {
  width: 240px;
  text-align: left;
}
.nav-bar-inner ul li:hover {
  border-bottom: 4px solid #292F34;
}
.nav-bar-inner ul li:hover:last-child {
  border-bottom: none;
}
.nav-bar-inner .shop .store {
  width: 100%;
  background: #FFF;
  border-bottom: 1px solid #ededed;
  height: 367px;
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 100;
}
.nav-bar-inner .shop .store .storeLeft {
  margin-top: 14px;
  width: 749px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul {
  width: 749px;
  height: 170px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li {
  width: 107px;
  height: 85px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li:hover {
  border: none;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li div {
  display: flex;
  text-align: left;
  flex-direction: column;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li div img {
  margin-top: 20px;
  width: 40px;
  height: 40px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li div a {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  padding-left: 8px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav .checkAll {
  width: 750px;
  height: 47px;
  line-height: 47px;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  margin-top: 150px;
}
.nav-bar-inner .shop .store .storeRight {
  margin-top: 42px;
  width: 232px;
}
.nav-bar-inner .shop .store .storeRight img {
  width: 232px;
  height: 232px;
}
.nav-bar-inner .shop .store .storeRight p {
  height: 24px;
  line-height: 24px;
  padding-top: 15px;
  font-size: 14px;
}
.nav-bar-inner .magazine .magazineSub {
  position: absolute;
  z-index: 100;
  top: 54px;
  left: 0;
  width: 1000PX;
  padding: 40px 0 30px;
  background: #FFF;
  border-bottom: 1px solid #ededed;
}
.nav-bar-inner .magazine .magazineSub a {
  margin-top: 20px;
  float: left;
  display: inline-block;
  width: 26px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  margin-right: 65px;
}
.nav-bar-inner .share .shareSub {
  z-index: 100;
  position: absolute;
  top: 54px;
  left: 0;
  width: 1000PX;
  padding: 40px 0 30px;
  background: #FFF;
  border-bottom: 1px solid #ededed;
}
.nav-bar-inner .share .shareSub a {
  float: left;
  margin-top: 20px;
  display: inline-block;
  width: 90px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  margin-right: 25px;
}
.nav-bar-inner .search .inputSearch {
  width: 240px;
  height: 50px;
  overflow: hidden;
}
.nav-bar-inner .search .inputSearch input {
  position: absolute;
  top: 10px;
  right: 0px;
  outline: none;
  border: none;
  width: 0;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}
.nav-bar-inner .search .inputSearch span {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 0;
  background: #FFF;
}
.nav-bar-inner .search .inputSearch a {
  position: absolute;
  top: 5px;
  left: 954px;
  width: 33px;
  height: 40px;
  display: inline-block;
  background: #CCCCCC url("../img/icon.png") no-repeat -167px -145px;
}
.container {
  width: 100%;
  padding-top: 130px;
}
.banner {
  width: 100%;
}
.banner .banner-cont {
  position: relative;
  width: 1000px;
  height: 507px;
  margin: 0 auto;
  overflow: hidden;
}
.banner .banner-cont .imgUl {
  width: 600%;
  position: absolute;
  display: flex;
}
.banner .banner-cont .imgUl li a {
  display: block;
}
.banner .banner-cont .imgUl li a img {
  width: 1000px;
  height: 475px;
}
.banner .banner-cont ul.pointUl {
  bottom: 0;
  height: 32px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.banner .banner-cont ul.pointUl li {
  width: 20px;
  height: 4px;
  margin: 10px 3px;
  background: #CCC;
}
.banner .banner-cont ul.pointUl .selectPoint {
  background: #333333;
}
.banner .banner-cont ul.arrow {
  width: 100%;
  position: absolute;
  top: 0;
}
.banner .banner-cont ul.arrow li {
  cursor: pointer;
  width: 130px;
  height: 100px;
  position: relative;
}
.banner .banner-cont ul.arrow li span {
  position: absolute;
  margin-top: 188px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.banner .banner-cont ul.arrow li:first-child span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.3) url("../img/index/normal_right.png") no-repeat;
}
.banner .banner-cont ul.arrow li:last-child {
  position: absolute;
  top: 0;
  right: 0;
}
.banner .banner-cont ul.arrow li:last-child span {
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.3) url("../img/index/normal_left.png") no-repeat;
  overflow: hidden;
}
.had {
  width: 100%;
  margin-top: 12px;
}
.had .had-inner {
  width: 1000px;
  height: 403px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.had .had-inner img {
  width: 317px;
  height: 190px;
}
.had .had-inner .had-left a {
  width: 320px;
  height: 193px;
  display: block;
}
.had .had-inner .had-left a:last-child {
  margin-top: 19px;
}
.had .had-inner .had-center {
  margin: 0 22px;
}
.had .had-inner .had-center img {
  height: 403px;
}
.had .had-inner .had-right a {
  width: 320px;
  height: 193px;
  display: block;
}
.had .had-inner .had-right a:last-child {
  margin-top: 19px;
}
.popularity {
  margin-top: 24px;
  width: 100%;
}
.popularity .popInner {
  width: 1000px;
  margin: 0 auto;
}
.popularity .popInner .popTitle {
  text-align: center;
  font-size: 14px;
  width: 100%;
  height: 17px;
  line-height: 17px;
  padding: 10px 0;
  margin: 36px 0;
  border-bottom: 1px solid #CCCCCC;
}
.popularity .popInner .popItemBox {
  width: 1000px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popularity .popInner .popItemBox .item {
  width: 316px;
  margin-bottom: 30px;
  position: relative;
}
.popularity .popInner .popItemBox .item:hover .itemMask {
  display: block;
}
.popularity .popInner .popItemBox .item .itemMask {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  width: 286px;
  height: 286px;
  padding: 15px;
  display: none;
  background: rgba(0, 0, 0, 0.7);
}
.popularity .popInner .popItemBox .item .itemMask .price {
  font-size: 20px;
  font-style: italic;
  color: #0c6eba ;
}
.popularity .popInner .popItemBox .item .itemMask .title {
  width: 85%;
  font-weight: bold;
  margin: 80px 20px 0 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.popularity .popInner .popItemBox .item .itemMask .desc {
  width: 85%;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  overflow: hidden;
  padding-top: 15px;
}
.popularity .popInner .popItemBox .item img {
  width: 316px;
  height: 316px;
}
.popularity .popInner .popItemBox .item .bar {
  margin-top: 6px;
  width: 100%;
  position: relative;
}
.popularity .popInner .popItemBox .item .bar a div img {
  float: left;
  width: 36px;
  height: 36px;
}
.popularity .popInner .popItemBox .item .bar a div p {
  padding-left: 42px;
  height: 40px;
  line-height: 40px;
}
.popularity .popInner .popItemBox .item .bar span {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 25px;
  width: 25px;
  height: 36px;
  line-height: 36px;
  display: block;
  float: right;
  cursor: pointer;
  background: url("../img/index/heart_gray20_18.png") no-repeat right center;
}
.popularity .popInner .more {
  width: 100%;
  height: 50px;
  padding-top: 60px;
}
.popularity .popInner .more a {
  display: block;
  margin: 0 auto;
  width: 148px;
  height: 50px;
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  box-sizing: content-box;
  border: 3px solid #000;
}
.popularity .popInner .more a:hover {
  background: #000;
  color: #FFF;
  transition: all .2s;
}
.service {
  width: 100%;
  position: relative;
  margin-top: 90px;
  border-top: 1px solid #e7e7e7;
  background: #fbfdfe;
  z-index: -1;
}
.service .serviceInner {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}
.service .serviceInner a {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 16px;
  padding-left: 45px;
  background: url("../img/icon.png") no-repeat 45px -417px;
}
.service .serviceInner a p {
  position: absolute;
  top: 1px;
  left: 0;
  width: 27px;
  height: 15px;
  background: url("../img/icon.png") no-repeat -173px -356px;
}
.service .serviceInner .slogen {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.service .serviceInner .slogen .slogenItem {
  width: 100%;
}
.service .serviceInner .slogen .slogenItem span {
  display: inline-block;
  width: 56px;
  height: 60px;
  background: url("../img/icon.png") no-repeat 0px -355px;
}
.service .serviceInner .slogen .slogenItem > div {
  width: 185px;
  height: 60px;
  float: right;
}
.service .serviceInner .slogen .slogenItem > div p {
  font-size: 14px;
  padding: 9px 0 0 20px;
}
.service .serviceInner .slogen .slogenItem > div p:last-child {
  font-size: 12px;
  color: #ccc;
}
.footer {
  width: 100%;
  min-width: 1000px;
  background: #25292e;
  color: #5c5c5c;
  height: 200px;
  padding-top: 40px;
}
.footer .footerInner {
  width: 1000px;
  margin: 0 auto;
}
.footer .footerInner .footLeft {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .footerInner .footLeft .download {
  position: relative;
  padding: 0 0 0 60px;
  width: 132px;
  height: 44px;
  background: url("../img/icon.png") no-repeat -175px 0;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
}
.footer .footerInner .footLeft .download p {
  width: 136px;
  line-height: 18px;
}
.footer .footerInner .footLeft .download p:last-child {
  margin-top: 7px;
}
.footer .footerInner .footLeft .commum {
  width: 200px;
  height: 30px;
  padding-top: 45px;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}
.footer .footerInner .footLeft .commum ul {
  width: 100%;
  height: 30px;
}
.footer .footerInner .footLeft .commum ul li {
  height: 30px;
  margin-left: 20px;
  float: left;
}
.footer .footerInner .footLeft .commum ul li a {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 27px;
  background: url("../img/icon.png") no-repeat -129px -25px;
}
.footer .footerInner .friendly {
  font-size: 12px;
  line-height: 18px;
}
.footer .footerInner .friendly a {
  color: #5c5c5c;
}
