html body {
  background: #FFF;
  width: 100%;
}
.mob_head {
  width: 100%;
  background: #25292e;
}
.top {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 55px;
  right: 35px;
  z-index: 1000;
  cursor: pointer;
}
.top span {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icon.png") no-repeat -20px -813px;
}
.qrcode {
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 1001;
}
.qrcode .close {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 25px;
  height: 25px;
}
.topNav {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
.mob_head-inner {
  max-width: 1000px;
  height: 56px;
  margin: 0 auto;
  position: relative;
}
.mob_head-inner .logo {
  width: 95px;
  height: 100%;
  background: url("../img/icon.png") no-repeat 0 10px;
}
.mob_head-inner ul {
  position: absolute;
  top: 0;
  right: 0;
}
.mob_head-inner ul li {
  font-size: 12px;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  float: left;
}
.mob_head-inner ul li a {
  color: #ccc;
}
.mob_head-inner ul li a:hover {
  color: #CCC;
}
.mob_head-inner ul .line {
  padding: 0;
  width: 1px;
  background: #666;
  height: 10px;
  margin-top: 23px;
}
.mob_head-inner ul .logAnReg a {
  color: #FFF;
}
.mob_head-inner ul .logAnReg a:first-child {
  margin-right: 10px;
}
.mob_head-inner ul .liCart .liCartCont {
  z-index: 1000;
  width: 280px;
  height: 120px;
  position: absolute;
  top: 55px;
  right: 40px;
}
.mob_head-inner ul .liCart .liCartCont .cart {
  text-align: center;
  line-height: 70px;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background: #292F34;
  color: #FFF;
}
.mob_head-inner ul .liCart .liCartCont .qiangou {
  width: 280px;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #7dbfde;
}
.mob_head-inner ul .liCart .liCartCont .qiangou a {
  color: #FFF;
}
.mob_head-inner ul .liMessage .messageCont {
  z-index: 1000;
  position: absolute;
  width: 160px;
  padding: 0 15px;
  top: 55px;
  right: 0;
  background: #292F34;
}
.mob_head-inner ul .liMessage .messageCont div {
  font-size: 12px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #6f6f6f;
}
.mob_head-inner ul .liMessage .messageCont div a {
  display: inline-block;
  color: #CCC;
}
.mob_head-inner ul .liMessage .messageCont div span {
  display: block;
  float: right;
  color: #CCC;
}
.mob_head-inner ul .liMessage .messageCont div:last-child {
  border-bottom: none;
}
.mob_head-inner ul .navHover {
  background: #292F34;
}
.nav-bar {
  width: 100%;
  height: 50px;
  background: #FFF;
}
.nav-bar-inner {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  border-bottom: 4px solid #EDEDED;
}
.nav-bar-inner ul {
  width: 100%;
  height: 50px;
}
.nav-bar-inner ul li {
  width: 160px;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
}
.nav-bar-inner ul li:first-child {
  width: 120px;
  text-align: left;
}
.nav-bar-inner ul li:last-child {
  width: 240px;
  text-align: left;
}
.nav-bar-inner ul li:hover {
  border-bottom: 4px solid #292F34;
}
.nav-bar-inner ul li:hover:last-child {
  border-bottom: none;
}
.nav-bar-inner .shop .store {
  width: 100%;
  background: #FFF;
  border-bottom: 1px solid #ededed;
  height: 367px;
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 100;
}
.nav-bar-inner .shop .store .storeLeft {
  margin-top: 14px;
  width: 749px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul {
  width: 749px;
  height: 170px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li {
  width: 107px;
  height: 85px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li:hover {
  border: none;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li div {
  display: flex;
  text-align: left;
  flex-direction: column;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li div img {
  margin-top: 20px;
  width: 40px;
  height: 40px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav > ul li div a {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  padding-left: 8px;
}
.nav-bar-inner .shop .store .storeLeft .storeNav .checkAll {
  width: 750px;
  height: 47px;
  line-height: 47px;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  margin-top: 150px;
}
.nav-bar-inner .shop .store .storeRight {
  margin-top: 42px;
  width: 232px;
}
.nav-bar-inner .shop .store .storeRight img {
  width: 232px;
  height: 232px;
}
.nav-bar-inner .shop .store .storeRight p {
  height: 24px;
  line-height: 24px;
  padding-top: 15px;
  font-size: 14px;
}
.nav-bar-inner .magazine .magazineSub {
  position: absolute;
  z-index: 100;
  top: 54px;
  left: 0;
  width: 1000PX;
  padding: 40px 0 30px;
  background: #FFF;
  border-bottom: 1px solid #ededed;
}
.nav-bar-inner .magazine .magazineSub a {
  margin-top: 20px;
  float: left;
  display: inline-block;
  width: 26px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  margin-right: 65px;
}
.nav-bar-inner .share .shareSub {
  z-index: 100;
  position: absolute;
  top: 54px;
  left: 0;
  width: 1000PX;
  padding: 40px 0 30px;
  background: #FFF;
  border-bottom: 1px solid #ededed;
}
.nav-bar-inner .share .shareSub a {
  float: left;
  margin-top: 20px;
  display: inline-block;
  width: 90px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  margin-right: 25px;
}
.nav-bar-inner .search .inputSearch {
  width: 240px;
  height: 50px;
  overflow: hidden;
}
.nav-bar-inner .search .inputSearch input {
  position: absolute;
  top: 10px;
  right: 0px;
  outline: none;
  border: none;
  width: 0;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}
.nav-bar-inner .search .inputSearch span {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 0;
  background: #FFF;
}
.nav-bar-inner .search .inputSearch a {
  position: absolute;
  top: 5px;
  left: 954px;
  width: 33px;
  height: 40px;
  display: inline-block;
  background: #CCCCCC url("../img/icon.png") no-repeat -167px -145px;
}
.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 130px;
}
.tm-tle {
  width: 100%;
  height: 70px;
  text-align: center;
  color: #333333;
}
.tm-tle span:first-child {
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
}
.tm-tle span:last-child {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
.tm-nav {
  margin-top: 40px;
  width: 100%;
  height: 25px;
}
.tm-nav ul {
  height: 25px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ededed;
}
.tm-nav ul li {
  margin-right: 40px;
  height: 25px;
  float: left;
}
.tm-nav ul li a {
  display: block;
  height: 24px;
  padding: 0 8px;
  font-size: 12px;
}
.tm-nav ul #magicLine {
  width: 80px;
  overflow: hidden;
  height: 1px;
  position: absolute;
  top: 25px;
  left: 0;
  background: #333333;
}
.tm-content .contentBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.tm-content .contentBox .contentItem {
  margin-top: 30px;
  width: 318px;
  height: 250px;
  margin-right: 23px;
}
.tm-content .contentBox .contentItem:nth-child(3n) {
  margin-right: 0;
}
.tm-content .contentBox .contentItem a {
  display: block;
}
.tm-content .contentBox .contentItem a img {
  width: 318px;
  height: 190px;
}
.tm-content .contentBox .contentItem a p {
  padding-top: 10px;
  text-align: center;
}
.tm-content .contentBox .contentItem a p:last-child {
  font-size: 12px;
  padding-top: 9px;
}
.listItem {
  width: 100%;
  padding-top: 40px;
  height: 21px;
  text-align: right;
  position: relative;
  vertical-align: middle;
}
.listItem ul {
  height: 21px;
  line-height: 21px;
  float: right;
}
.listItem ul li {
  float: left;
  height: 21px;
  line-height: 21px;
}
.listItem ul li:nth-child(2) {
  background: #98B5D5;
}
.listItem ul li:first-child {
  margin-right: 20px;
}
.listItem ul li a {
  font-size: 12px;
  width: 20px;
  height: 16px;
  padding: 0 5px;
  margin: 0 5px;
  text-align: center;
}
.listItem ul li button {
  font-size: 12px;
  width: 60px;
  height: 20px;
  outline: none;
  border: none;
}
.more {
  width: 100%;
  height: 50px;
  padding-top: 60px;
}
.more a {
  display: block;
  margin: 0 auto;
  width: 148px;
  height: 50px;
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  box-sizing: content-box;
  border: 3px solid #000;
}
.more a:hover {
  background: #000;
  color: #FFF;
  transition: all .2s;
}
.service {
  width: 100%;
  position: relative;
  margin-top: 90px;
  border-top: 1px solid #e7e7e7;
  background: #fbfdfe;
  z-index: -1;
}
.service .serviceInner {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}
.service .serviceInner a {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 16px;
  padding-left: 45px;
  background: url("../img/icon.png") no-repeat 45px -417px;
}
.service .serviceInner a p {
  position: absolute;
  top: 1px;
  left: 0;
  width: 27px;
  height: 15px;
  background: url("../img/icon.png") no-repeat -173px -356px;
}
.service .serviceInner .slogen {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.service .serviceInner .slogen .slogenItem {
  width: 100%;
}
.service .serviceInner .slogen .slogenItem span {
  display: inline-block;
  width: 56px;
  height: 60px;
  background: url("../img/icon.png") no-repeat 0px -355px;
}
.service .serviceInner .slogen .slogenItem > div {
  width: 185px;
  height: 60px;
  float: right;
}
.service .serviceInner .slogen .slogenItem > div p {
  font-size: 14px;
  padding: 9px 0 0 20px;
}
.service .serviceInner .slogen .slogenItem > div p:last-child {
  font-size: 12px;
  color: #ccc;
}
.footer {
  width: 100%;
  min-width: 1000px;
  background: #25292e;
  color: #5c5c5c;
  height: 200px;
  padding-top: 40px;
}
.footer .footerInner {
  width: 1000px;
  margin: 0 auto;
}
.footer .footerInner .footLeft {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .footerInner .footLeft .download {
  position: relative;
  padding: 0 0 0 60px;
  width: 132px;
  height: 44px;
  background: url("../img/icon.png") no-repeat -175px 0;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
}
.footer .footerInner .footLeft .download p {
  width: 136px;
  line-height: 18px;
}
.footer .footerInner .footLeft .download p:last-child {
  margin-top: 7px;
}
.footer .footerInner .footLeft .commum {
  width: 200px;
  height: 30px;
  padding-top: 45px;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}
.footer .footerInner .footLeft .commum ul {
  width: 100%;
  height: 30px;
}
.footer .footerInner .footLeft .commum ul li {
  height: 30px;
  margin-left: 20px;
  float: left;
}
.footer .footerInner .footLeft .commum ul li a {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 27px;
  background: url("../img/icon.png") no-repeat -129px -25px;
}
.footer .footerInner .friendly {
  font-size: 12px;
  line-height: 18px;
}
.footer .footerInner .friendly a {
  color: #5c5c5c;
}
/*# sourceMappingURL=topic.css.map */